
// Pipeline parameters
params {

    //cnmops
    bams_list        = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/data/all_bams_withpartc.txt'
    
    // GATK
    seqtk                = '/data1/papaemme/isabl/home/amallra/repos/seqtk/seqtk'
    genome_chrs          = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/gatk_test_run2/genome/genome_chrs.txt'
    mappability_bed      = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/gatk_test_run2/genome/hg19.nochr.k100.umap.single.merged.bed.gz'
    segmental_duplication_bed = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/gatk_test_run2/genome/hg19.nochr.SegDups.elements.no_gl.bed'
    scatter_count        = 65
    model_ploidy_outdir  = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/ptmp-gatk-gcnv/cohort_ploidy'
    model_cnvs_outdir    = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/ptmp-gatk-gcnv/cnvs/cohort_cnvs'  
    
    // survivor
    survivor_bin     = '/data1/papaemme/isabl/home/amallra/repos/SURVIVOR/Debug/SURVIVOR'

    // annotsv
    annotsv          = '/data1/papaemme/isabl/local/annotsv/2.1_patch/AnnotSV/bin/AnnotSV'
    bedtools         = '/data1/papaemme/isabl/home/amallra/repos/bedtools'
    annotsv_bin      = '/usersoftware/papaemme/isabl/bin/click_annotsv_v1.2.0'
    annotsv_dir      = '/usersoftware/papaemme/isabl/local/annotsv/2.1_patch/AnnotSV'
}


// Metrics Files
dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}
report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}


process {
    withName: 'PREPARE_SAMPLE_LIST|RUN_CNMOPS|CNMOPS_TO_VCF' {
        container = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/scripts/cnmops.sif'
    }
    withName: 'PREPROCESS_GENOME_FASTA|COLLECT_READ_COUNTS|FILTER_GENOME|SCATTER_GENOME|DETERMINE_PLOIDY_CASE|CALL_CNVS_CASE|POSTPROCESS_CNVS|JOINT_CNVS_SEGMENTATION' {
        container = '/data1/papaemme/isabl/home/amallra/gatk_4.6.1.0.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/scripts'
    envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITYENV_LD_LIBRARY_PATH,SINGULARITYENV_LD_PRELOAD'
    runOptions = '-B /scratch/papaemme/amallra:/scratch/papaemme/amallra -B /usersoftware/papaemme/isabl:/usersoftware/papaemme/isabl'
}



profiles {
    hpc_slurm{
        process {
            executor = 'slurm'
            clusterOptions = '-p componc_cpu -N 1 -n 32 --mem-per-cpu=16G --time=0-8'
            }
        }
    }
