
// Pipeline parameters
params {

    // path with reference files
    // ref_path          = '/data1/papaemme/isabl/ref/homo_sapiens/GRCh37d5/gcnv-nf'

    //cnmops
    bams_list            = '${params.ref_path}/cnmops_reference_samples.txt'
    
    // GATK
    genome_chrs          = "${params.ref_path}/genome_chrs.txt"
    mappability_bed      = "${params.ref_path}/hg19.nochr.k100.umap.single.merged.bed.gz"
    segmental_duplication_bed = "${params.ref_path}/hg19.nochr.SegDups.elements.no_gl.bed"
    gc_file              = "${params.ref_path}/gr37_clean.gc_content.bed"
    map_file             = "${params.ref_path}/hg19.nochr.k100.umap.single.merged.bed.gz"
    
    model_ploidy_outdir  = '${params.ref_path}/cohort_ploidy-model'
    model_cnvs_outdir    = '${params.ref_path}/cohort_ploidy-calls'  

    scatter_count        = 65
    genome_build         = 'GRCh37'

    // annotsv
    // annotsv_bin          = '/data1/papaemme/isabl/local/annotsv/2.1_patch/AnnotSV/bin/AnnotSV'
    // annotsv_dir          = '/data1/papaemme/isabl/local/annotsv/2.1_patch/AnnotSV'
    bedtools             = 'bedtools'
}


// Metrics Files
dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}
report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}


process {
    withName: 'PREPARE_SAMPLE_LIST|RUN_CNMOPS|CNMOPS_TO_VCF' {
        // container = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/scripts/cnmops.sif'
        container = 'docker://ghcr.io/anu9109/cnmops:v1.50.0'

    }
    withName: 'SUBSET_GENOME_FASTA' {
        container = 'docker://biocontainers/seqtk:1.4--he4a0461_1'
    }
    withName: 'PREPROCESS_GENOME_FASTA|COLLECT_READ_COUNTS|FILTER_GENOME|SCATTER_GENOME|DETERMINE_PLOIDY_CASE|CALL_CNVS_CASE|POSTPROCESS_CNVS|JOINT_CNVS_SEGMENTATION' {
        // container = '/data1/papaemme/isabl/home/amallra/gatk_4.6.1.0.sif'
        container = 'docker://broadinstitute/gatk:4.6.1.0'
    }
    withName: 'SURVIVOR_MERGE' {
        // conda = 'bioconda::survivor=1.0.7'
        container = 'oras://community.wave.seqera.io/library/bcftools_survivor:24ae58f6dadc8105'
    }
    withName: 'PLOT_EVENT_COVERAGE' {
        // singularity pull docker://rocker/tidyverse:4.3.2
        // container = '/data1/papaemme/isabl/home/amallra/repos/gcnv-nf/gcnv_viz.sif'
        container = 'docker://ghcr.io/anu9109/gcnv_viz:v1'
    }
}

conda {
    enabled = true
}

wave {
    enabled = true
}

singularity {
    enabled = true
    autoMounts = true
    envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITYENV_LD_LIBRARY_PATH,SINGULARITYENV_LD_PRELOAD'
    runOptions = '-B /scratch:/scratch -B /usersoftware/papaemme/isabl:/usersoftware/papaemme/isabl -B /home:/home'
}



profiles {
    hpc_slurm{
        process {
            executor = 'slurm'
            clusterOptions = '-p componc_cpu -N 1 -n 32 --mem-per-cpu=16G --time=0-8'
            }
        }
    }
