
// Pipeline parameters
params {
    bams_list        = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/data/all_bams_withpartc.txt'
    //x//cnmops_sif       = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/scripts/cnmops.sif'
    //x//run_cnmops_r     = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/scripts/run_cnmops.R'
    //x//cnmops_to_vcf_r  = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/scripts/cnmops_to_vcf_per_sample.R'
    //annotsv_bin      = '/usersoftware/papaemme/isabl/bin/click_annotsv_v1.2.0'
    //annotsv_dir      = '/usersoftware/papaemme/isabl/local/annotsv/2.1_patch/AnnotSV'
    bedtools_bin     = '/data1/papaemme/isabl/home/amallra/repos/bedtools'

    // Reference genome and annotation files
    //gr37_fasta_in        = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/gatk_test_run2/genome/gr37_clean.fasta/genome/gr37_clean.fasta'
    seqtk                = '/data1/papaemme/isabl/home/amallra/repos/seqtk/seqtk'
    genome_chrs          = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/gatk_test_run2/genome/genome_chrs.txt'
    
    // GATK and annotation tools
    //x//gatk_sif             = '/data1/papaemme/isabl/home/amallra/gatk_4.6.1.0.sif'
    mappability_bed      = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/gatk_test_run2/genome/hg19.nochr.k100.umap.single.merged.bed.gz'
    segmental_duplication_bed = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/gatk_test_run2/genome/hg19.nochr.SegDups.elements.no_gl.bed'
    //hg19_ploidy_priors   = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/gatk_test_run2/genome/hg19.contig_ploidy_priors.tsv'
    
    // Analysis parameters
    scatter_count        = 65
    model_ploidy_outdir  = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/ptmp-gatk-gcnv/cohort_ploidy'
    model_cnvs_outdir    = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/analysis/ptmp-gatk-gcnv/cnvs/cohort_cnvs'  
    //model_prefix         = 'gcnv_model'
    //cnvs_prefix          = 'gcnv_calls'
    //pedigree             = '/path/to/pedigree.ped'  // Must be provided by user

}


// Metrics Files
dag {
    enabled = true
    file = 'pipeline_dag.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss'
    overwrite = true
}
report {
    enabled = true
    file = 'pipeline_report.html'
    overwrite = true
}


process {
    withName: 'PREPARE_SAMPLE_LIST|RUN_CNMOPS|CNMOPS_TO_VCF' {
        container = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/scripts/cnmops.sif'
    }
    withName: 'PREPROCESS_GENOME_FASTA|COLLECT_READ_COUNTS|FILTER_GENOME|SCATTER_GENOME|DETERMINE_PLOIDY_CASE|CALL_CNVS_CASE|POSTPROCESS_CNVS' {
        container = '/data1/papaemme/isabl/home/amallra/gatk_4.6.1.0.sif'
        beforeScript = 'mkdir -p $PWD/.pytensor && export PYTENSOR_FLAGS="base_compiledir=$PWD/.pytensor" && export JAVA_TOOL_OPTIONS="-XX:+PerfDisableSharedMem -Djava.io.tmpdir=$PWD"'
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/data1/papaemme/isabl/home/amallra/repos/germline_svs/scripts'
    envWhitelist = 'SINGULARITY_BINDPATH,SINGULARITYENV_LD_LIBRARY_PATH,SINGULARITYENV_LD_PRELOAD'
    runOptions = '-B /scratch/papaemme/amallra:/scratch/papaemme/amallra -B /usersoftware/papaemme/isabl:/usersoftware/papaemme/isabl'
}



profiles {
    hpc_slurm{
        process {
            executor = 'slurm'
            clusterOptions = '-p componc_cpu -N 1 -n 32 --mem-per-cpu=16G --time=0-8'
            }
        }
    }
